body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

h1 {
    font-size: 50px;
    color: ;
}

.content {
    color: ;
}

.initial {
    background-image: url(images/donation0.jpg);
    background-repeat: no-repeat;
    background-position: unset;
    text-align: justify;
    padding: 10%;
    width: 100%;
    margin-left: 100px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    position: relative;
}

.amount-item {
    display: flex;
}

.first-amount {
    padding: 5%;
    box-shadow: 2px;
    background-color: aliceblue;
    margin: 5px;
}

#second-item {
    border: 7px solid tomato;

}

.item {
    text-align: justify;
    padding: 10%;
    width: 100%;
    margin-left: 100px;
}

.family-support {
    display: flex;

}

.family-1 {
    text-align: center;
    padding: 5%;
    width: 33%;
    margin-left: 10px;
    background-color: blueviolet;
}

.family-2 {
    text-align: center;
    padding: 5%;
    width: 33%;
    margin-left: 10px;
    background-color: blanchedalmond;
}

.family-3 {
    text-align: center;
    padding: 5%;
    width: 34%;
    margin-left: 10px;
    background-color: coral;
}

.form-design {
    box-shadow: 5px solid tomato;
    text-align: center;
    width: 50%;
    background-color: brown;
    padding: 20px;
}

footer {
    background-color: black;
    color: tomato;
    text-align: center;

}

#footer-content {
    color: white;
}

.education {
    display: flex;
    width: 50%;
}

.children {
    margin-top: 100px;
    size: 100px;
}